.wavy_letters {
  height: 100px;
  z-index: 70;
  padding-bottom: 10px;
  overflow: hidden; /* hidden residual */
}

.letter {
  position: relative;

  display: inline-block;
  animation-name: animation_for_letter;
  bottom: 0px;
}



@keyframes animation_for_letter {
  0% {
    transform: translate(0, 105%) translate3d(0, 0, 0) rotate(30deg);
  }
  100% {
    transform: translate(0) translate3d(0, 0, 0) rotate(0deg);
  }
}
