.wavy_letters {
  top: 40%;
  left: 100px;

  height: 100px;

  z-index: 100;

  /* padding-right: 10px; */
  padding-bottom: 10px;

  position: fixed;
  overflow: hidden; /* hidden residual */

}

.letter {
  position: relative;

  display: inline-block;
  animation-name: animation_for_letter;
  bottom: 0px;
  /* font-weight: 400;
  font-family:'Poppins';
  font-size: 52px; */
}



@keyframes animation_for_letter {
  0% {
    transform: translate(0, 105%) translate3d(0, 0, 0) rotate(30deg);
  }
  100% {
    transform: translate(0) translate3d(0, 0, 0) rotate(0deg);
  }
}
